<h1>Want to join <%= @group.name %>?</h1>

<% if user_signed_in? %>
   <% if current_user.groups.include?(@group) %>
       You're already a member of this group!
   <% else %>
      <%= form_for [@group, @membership] do |f| %>
         <%= f.submit "Join" %>
      <% end %>
   <% end %>
<% end %>